#container {
  text-align: center;

  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

#container strong {
  font-size: 20px;
  line-height: 26px;
}

#container p {
  font-size: 16px;
  line-height: 22px;

  color: #8c8c8c;

  margin: 0;
}

#container a {
  text-decoration: none;
}
.qoute-text{
  position: absolute;
  top: 50%;
  left: 50%;
  width: 80%;
  color:#fff;
  text-align: center;
  margin:0 auto;
  font-size: 1.2rem;
  font-weight: bold;
  text-shadow: 2px 2px 4px #000000;
}
.wallpaper{
  // filter: blur(1px);-webkit-filter: blur(1px);
  
}
.buttons{
  text-align: center;
  margin: 0 auto;
}
.footer{
  background: #d1d1d1;
  width: 100%;
  height: 75px;
  position: fixed;
  bottom: 0;
  z-index: 999;
  border-radius: 22px 22px 0px 0px;
}
.canvasDraw{
  position: absolute;
  z-index: 99;
  top: 0;
}